ServicioCliente/src/conf/xml-resources/web-service-references/ClienteWebService/wsdl/localhost_8080/ServicioWeb/ClienteWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cliente/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cliente/" name="ClienteWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://cliente/" schemaLocation="http://localhost:8080/ServicioWeb/ClienteWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="sumaSaldo">
<part name="parameters" element="tns:sumaSaldo"/>
</message>
<message name="sumaSaldoResponse">
<part name="parameters" element="tns:sumaSaldoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="restaSaldo">
<part name="parameters" element="tns:restaSaldo"/>
</message>
<message name="restaSaldoResponse">
<part name="parameters" element="tns:restaSaldoResponse"/>
</message>
<message name="crearCliente">
<part name="parameters" element="tns:crearCliente"/>
</message>
<message name="crearClienteResponse">
<part name="parameters" element="tns:crearClienteResponse"/>
</message>
<portType name="ClienteWebService">
<operation name="sumaSaldo">
<input wsam:Action="http://cliente/ClienteWebService/sumaSaldoRequest" message="tns:sumaSaldo"/>
<output wsam:Action="http://cliente/ClienteWebService/sumaSaldoResponse" message="tns:sumaSaldoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://cliente/ClienteWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://cliente/ClienteWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="restaSaldo">
<input wsam:Action="http://cliente/ClienteWebService/restaSaldoRequest" message="tns:restaSaldo"/>
<output wsam:Action="http://cliente/ClienteWebService/restaSaldoResponse" message="tns:restaSaldoResponse"/>
</operation>
<operation name="crearCliente">
<input wsam:Action="http://cliente/ClienteWebService/crearClienteRequest" message="tns:crearCliente"/>
<output wsam:Action="http://cliente/ClienteWebService/crearClienteResponse" message="tns:crearClienteResponse"/>
</operation>
</portType>
<binding name="ClienteWebServicePortBinding" type="tns:ClienteWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sumaSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="restaSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="crearCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ClienteWebService">
<port name="ClienteWebServicePort" binding="tns:ClienteWebServicePortBinding">
<soap:address location="http://localhost:8080/ServicioWeb/ClienteWebService"/>
</port>
</service>
</definitions>